<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byd.auth.manage.common.storage.mapper.SysAppMapper">

    <select id="selectSysAppListByIds" resultType="com.byd.auth.manage.common.storage.entity.dao.SysApp">
        select id, app_code, app_name, factory_code
        from sys_app
        where id in
        <foreach collection="ids" item="id" separator=",">
            #{id,jdbcType=BIGINT}
        </foreach>)
    </select>
</mapper>