<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byd.auth.manage.dao.mapper.SysAppBaseMapper">


    <insert id="insertList" parameterType="java.util.List">
        insert into sys_app_base (app_id, base_id)
        values
        <foreach collection="list" separator="," item="item">
            (
            #{item.appId, jdbcType=BIGINT},
            #{item.baseId, jdbcType=BIGINT}
            )
        </foreach>
    </insert>

    <select id="selectSysAppBaseVosByBaseIds" parameterType="java.lang.Long"
            resultType="com.byd.auth.manage.dao.entity.dto.AppBaseDto">
        select
        t1.app_id as appId,
        t2.app_name as appName,
        t1.base_id as baseId
        from
        sys_app_base t1
        left join sys_app t2
        on t1.app_id = t2.id
        where t1.base_id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item, jdbcType=BIGINT}
        </foreach>
    </select>
</mapper>