<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byd.auth.manage.dao.mapper.SysBaseMapper">

    <resultMap id="BaseResultMap" type="com.byd.auth.manage.dao.entity.dao.SysBase">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="base_code" property="baseCode" jdbcType="VARCHAR"/>
        <result column="base_name" property="baseName" jdbcType="VARCHAR"/>
        <result column="factory_code" property="factoryCode" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="SMALLINT"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="BIGINT"/>
    </resultMap>


    <insert id="insertSysBase" keyProperty="sysBase.id" useGeneratedKeys="true"
            parameterType="com.byd.auth.manage.dao.entity.dao.SysBase">
        insert into sys_base (base_code, base_name, factory_code, area, description,
        remark, create_user,create_time, update_user,update_time ) values
        (
        #{sysBase.baseCode, jdbcType=VARCHAR},
        #{sysBase.baseName, jdbcType=VARCHAR},
        #{sysBase.factoryCode, jdbcType=VARCHAR},
        #{sysBase.area, jdbcType=VARCHAR},
        #{sysBase.description, jdbcType=VARCHAR},
        #{sysBase.remark, jdbcType=VARCHAR},
        #{sysBase.createUser, jdbcType=VARCHAR},
        #{sysBase.createTime, jdbcType=BIGINT},
        #{sysBase.updateUser, jdbcType=VARCHAR},
        #{sysBase.updateTime, jdbcType=BIGINT}
        )
    </insert>
    <select id="selectSysBaseListByIds" resultType="com.byd.auth.manage.dao.entity.dao.SysBase">
        select id, base_code, base_name, factory_code, area, description
        from sys_base
        where id in
        <foreach collection="ids" item="id" separator=",">
            #{id,jdbcType=BIGINT}
        </foreach>)
    </select>

    <select id="selectSysBaseListByAppId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select t2.* from sys_app_base t1 left join sys_base t2
        on t1.base_id = t2.id
        where t1.app_id = #{appId, jdbcType=BIGINT}
    </select>
</mapper>