<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byd.auth.manage.dao.mapper.SysRoleMenuMapper">

    <insert id="insertList" parameterType="java.util.List">
        insert into sys_role_menu
        (role_id, menu_id)
        values
        <foreach collection="list" separator="," item="item">
            (
            #{item.roleId, jdbcType=BIGINT},
            #{item.menuId, jdbcType=BIGINT}
            )
        </foreach>
    </insert>

    <select id="selectRoleMenuDtoListByRoleIds" parameterType="java.util.List"
            resultType="com.byd.auth.manage.dao.entity.dto.RoleMenuDto">
        select
        rm.role_id as roleId,
        m.id as menuId,
        m.menu_name as menuName
        from sys_role_menu rm left join sys_menu m
        on rm.menu_id = m.id
        where rm.role_id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item, jdbcType=BIGINT}
        </foreach>
    </select>
</mapper>