<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byd.auth.manage.dao.mapper.SysUserGroupUserMapper">

    <insert id="insertList" parameterType="java.util.List">
        insert into sys_user_group_user
        (user_group_id, user_id)
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.userGroupId, jdbcType=BIGINT},
            #{item.userId, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
</mapper>